/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6, p, input {
  font-weight: 100;
}

.artist-list {
  line-height: 100%;  
}

.artist-list .list-group-item {
  padding: .3rem 1.5rem;
}  

.artist-list .list-group-item:first-child {
  border-top: none;
  border-radius: 0;
}

.artist-list .list-group-item img {
  width: 70px;
}

.artist-list .list-group-item:hover {
  background-color: #f8f9fa;
}

.artist-list a {
  text-decoration: none;
}